html {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background: url(bg2.jpeg) center;
    background-size: cover;
}

input {
    background-color: crimson;
    height: 30px;
    border-radius: 10px;
    color: darkblue;
}

.search {
    width: 15vw;
    height: 5vh;
    font-size: large;
    text-decoration:rgba(12, 5, 77, 0.2);
}

.button {
    width: 10vw;
    height: 5vh;
    font-size: large;
}

.decorate {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-weight: 100;
    color: white;
    font-size: 32px;
    list-style-type: none;
    
}

.game_window {
    margin-top: 10%;
}

.hide {
    display: none;
}

/* посмотреть конфликт свойств display flex и none */
